name: Build Packages

on:
  push:
    paths-ignore:
    - 'doc/**'
    - '**.md'
    - 'appveyor.yml'
    - '.travis.yml'
  pull_request:
    paths-ignore:
    - 'doc/**'
    - '**.md'
    - 'appveyor.yml'
    - '.travis.yml'

env:
  QT_VERSION: 6.8.3
  QTCREATOR_VERSION: 13.0.1
  VERSION: 2026.1
  THUNDER_RELEASE: ${{ startsWith(github.ref, 'refs/tags/2') }}

jobs:
  version:
    name: Determine Thunder version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      release: ${{ steps.get-version.outputs.release }}

    steps:
    - name: Get version
      id: get-version
      run: |
        if [[ "$THUNDER_RELEASE" == 'true' ]]; then echo "::set-output name=version::${VERSION}" ; fi
        if [[ "$THUNDER_RELEASE" != 'true' ]]; then echo "::set-output name=version::${VERSION}-SNAPSHOT" ; fi
        echo "::set-output name=release::${THUNDER_RELEASE}"
        
  linux:
    name: Linux
    runs-on: ubuntu-22.04
    needs: version
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
  
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install binutils libgl1-mesa-dev zlib1g-dev libzstd-dev p7zip-full xorg-dev
        
    - name: Install Qt
      run: |
        sudo ./build/install-qt.sh --version ${QT_VERSION} --toolchain linux_gcc_64 qtbase qtsvg qtimageformats qttools qtdeclarative icu dbus | tee -a $GITHUB_PATH
        sudo ./build/install-qt.sh --version ${QTCREATOR_VERSION} qtcreator | tee -a $GITHUB_PATH
  
    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs setup-qt --detect
        qbs config defaultProfile
        qbs config --list
  
    - name: Build Thunder Hub
      run: |
        qbs install --all-products config:release
        7z a -t7z ThunderHub-linux-x86_64.7z release/install-root/
        
    - name: Upload Thunder
      uses: actions/upload-artifact@v4
      with:
        name: ThunderHub-linux-x86_64.7z
        path: ThunderHub-linux-x86_64.7z
  
  windows:
    name: Windows
    runs-on: windows-latest
    needs: version
    
    defaults:
      run:
        shell: bash
    
    env:
        MSVC: 2022
        QT_INSTALL_DIR: /c/Qt

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
        
    - name: Install Qt
      run: |
        echo "QT_PATH=$(./build/install-qt.sh -d ${QT_INSTALL_DIR} --version ${QT_VERSION} --toolchain win64_msvc2022_64 qtbase qtsvg qtimageformats qtdeclarative qttools)" >> $GITHUB_ENV
        
    - name: Install Qbs
      run: |
        choco install -y qbs --version 2.2.1
        
    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs setup-qt ${QT_PATH}/qmake.exe qt
        qbs config --list
    
    - name: Build Thunder Hub
      run: |
        qbs install --all-products config:release profile:qt
        dir build\\windows
    
    - name: Compile Inno Setup script
      uses: Minionguyjpro/Inno-Setup-Action@v1.2.7
      with:
        path: build/windows/setup.iss
        options: /O+
    
    - name: Upload Thunder Hub
      uses: actions/upload-artifact@v4
      with:
        name: ThundeHub.exe
        path: build/release/ThundeHub.exe
    
  github:
    name: Upload to GitHub releases
    runs-on: ubuntu-latest
    needs: [version, linux, windows]

    if: github.repository == 'thunder-engine/thunder' && needs.version.outputs.release == 'true'

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ needs.version.outputs.version }}
          draft: true
          prerelease: false

      - name: Download Windows binaries
        id: download-windows
        uses: actions/download-artifact@v4
        with:
          name: ThunderHub-windows-x64.7z

      - name: Download Linux binaries
        id: download-linux
        uses: actions/download-artifact@v4
        with:
          name: ThunderHub-linux-x86_64.7z
     
      - name: Upload Windows
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderHub-windows-x64.7z
          asset_name: ThunderHub-windows-x64.7z
          asset_content_type: application/x-7z-compressed

      - name: Upload Linux
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ThunderHub-linux-x86_64.7z
          asset_name: ThunderHub-linux-x86_64.7z
          asset_content_type: application/x-7z-compressed
